---
import { format } from "date-fns";

import "../styles/global.css";
import Layout from "./Layout.astro";
import ArticleFooter from "../components/ArticleFooter.astro";
import ArticleNav from "../components/ArticleNav.astro";
import Comments from "../components/Comments.astro";

interface Props {
  title: string;
  createdAt?: Date;
  modifiedAt?: Date;
  description?: string;
  navCurrent?: string;
  comments?: boolean;
  preamble?: string;
  tags?: string[];
  ogImage?: string;
}

const fmt = (d: Date) => format(d, "MMMM do, yyyy");

const {
  title,
  description,
  navCurrent = "/posts",
  comments = false,
  preamble,
  ogImage,
  createdAt: _createdAt,
  modifiedAt: _modifiedAt,
} = Astro.props;

const createdAt = _createdAt ? fmt(_createdAt) : null;
const modifiedAt = _modifiedAt ? fmt(_modifiedAt) : null;

// TODO: automate creation of this in CI.
const backlinkPath = Astro.url.pathname.replace("/posts", "");
const backlink = new URL(backlinkPath, "https://ovy.rs").href;
---

<Layout title={`${title} - Ovyerus`} ogTitle={title} {description} {ogImage}>
  {comments && <meta slot="head" name="giscus:backlink" content={backlink} />}

  <ArticleNav current={navCurrent} />

  <section class="w-full max-w-3xl p-2.5 sm:m-auto sm:mt-10 sm:p-0">
    <header class="mb-5 flex flex-col gap-1">
      <h1 class="text-4xl font-bold">{title}</h1>
      {
        (createdAt || modifiedAt) && (
          <div class="flex flex-col text-sm opacity-75">
            {createdAt && <span>{createdAt}</span>}
            {modifiedAt && <span>Last updated {modifiedAt}</span>}
          </div>
        )
      }

      {
        preamble && (
          <div class="mt-2 text-base opacity-75" set:html={preamble} />
        )
      }
    </header>

    <main class="article-content">
      <hr />
      <slot />
    </main>

    {comments && <Comments />}
  </section>

  <ArticleFooter />
</Layout>

<style>
  .foo {
  }
</style>

<style is:global>
  @reference "../styles/global.css";

  body {
    /* TODO: find out why this happens on my desktop */
    overflow-x: hidden;
  }

  .article-content {
    @apply prose !prose-invert;
    @apply mb-12 max-w-none not-italic;
    @apply prose-headings:relative prose-headings:italic prose-headings:flex prose-headings:gap-2;
    @apply prose-pre:rounded-none prose-pre:m-0;

    --tw-prose-invert-bullets: var(--color-cyan);
    --tw-prose-invert-counters: var(--color-cyan);
    --tw-prose-invert-quote-borders: transparent;

    & :is(h1, h2, h3, h4, h5, h6) {
      & > a {
        @apply from-magenta to-cyan bg-gradient-to-br bg-clip-text text-transparent not-italic no-underline opacity-0 hover:font-bold;
        transition: opacity 0.1s ease-out;
      }

      &:hover > a {
        @apply opacity-100;
      }
    }
  }

  hr {
    @apply from-magenta to-cyan h-px border-t-0 bg-gradient-to-r;
  }

  a:hover {
    @apply from-magenta to-cyan bg-gradient-to-r bg-clip-text text-transparent;
  }

  pre {
    @apply not-italic;
  }

  code {
    @apply relative text-base;
  }

  :not(pre) > code {
    @apply from-magenta to-cyan bg-gradient-to-r bg-clip-text px-1.5 py-1;
  }

  blockquote {
    @apply relative border-none;

    &::before {
      content: "";
      @apply from-magenta to-cyan absolute inset-0 block w-1 bg-gradient-to-b;
    }
  }

  figure {
    @apply flex flex-col items-center;

    img,
    video {
      @apply h-full max-h-[500px] w-auto rounded-md;
    }

    video {
      @apply m-0;
    }
  }

  figcaption {
    @apply w-full max-w-[500px] text-center text-white italic opacity-75;
  }

  /* Codeblocks */

  .shiki-container {
    @apply from-magenta to-cyan relative my-5 flex flex-col items-stretch gap-2 rounded-xl bg-gradient-to-br p-1 has-[.shiki-title]:pt-2;

    &::before {
      @apply bg-dolch-900 absolute inset-px block rounded-[inherit] content-[""];
    }
  }

  .shiki-title {
    @apply relative px-2 font-mono text-sm font-bold text-white italic;
  }

  .astro-code,
  .shiki {
    @apply from-magenta to-cyan relative rounded-lg bg-gradient-to-br;

    &::before {
      @apply bg-dolch-800 absolute inset-px block rounded-[inherit] content-[""];
    }

    & > code {
      @apply from-magenta to-cyan block bg-gradient-to-b bg-clip-text p-0 text-inherit before:hidden;
    }
  }

  .line {
    & [style*="#5CDAFC" i],
    & [style*="#7BF2FF" i],
    & [style*="#00ACCE" i],
    & [style*="#3EC6C4" i] {
      color: transparent !important;
    }

    /* TODO: how the fuck do I fix this properly??? */
    /* &:last-child:has(> :empty) {
      display: none;
    } */
  }
</style>
